
<div id="mapHeader" class="main-header">
  <div class="logo">
    <h1>Mappix
      <div id='header-buttons'>
      <button type="button class" class ="btn btn-info" ng-click="signout()">Sign Out</button>
    </div>
    </h1>
  </div>
</div>

<div id='map' class="mapStyle">
</div>


<div class="commentPane">
	<div class="comment-header" >
		<button type="button" class="close" ng-click="hide()">×</button>
		<h4 >Comments</h4>
	</div>
	<ul class="pre-scrollable" style= "list-style-type: none;">
	
	</ul>
	<textarea type="text" class="form-control textarea" rows="3" placeholder="Write a comment..." ng-model="comment" ng-enter="postComment()"></textarea>
	
</div>