  .mapStyle {
    height:100%; 
    width:100%; 
    position: absolute;
  }
  h4 {
    text-align:left;
  }
  .close {
    margin-top:6px;
  }
  .comment-header {
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.43px;
    padding: 6px 15px;
    background: #428bca;
    color: #fff;
  }
  .pre-scrollable {
    /*max-height: 45em;*/
    max-height: 690px;
  }
  p {
    margin: 0;
    white-space: pre-wrap;
    word-wrap:break-word;
  }
  .userscomment {
    text-align: left;
    margin-left: 20%;
    line-height: 1.38;
  }
  .name {
    display: block;
    line-height: 1;
    margin: 1px 0 4px 0;
    width: 43%;
  }
  .time {
    float:right;
    display:block;
  }

  .timeText {
    color: #bdc1c9;
    display: inline-block;
    vertical-align: middle;
    cursor:default;    
  }
  .profileimg {
    margin-top: 1px;
    /*margin-right: 10px;*/
    margin-left:8%;
    display: block;
    float: left;
  }
  .webMessengerMessageGroup {
    padding: 8px 20px 7px;
    position: relative;
    margin-left: -25%;
    margin-top: 0;
  }

  .textarea {
    width: 20%;
    position: absolute;
    bottom: 0%;
  }

  .commentPane {
    overflow: scroll;
    height:100%;
    width:20%;
    float:right;
    text-align:center;
    display:none;
  }

  .commentPane ul li {
    /*border: 1px solid black;*/
  }

  .main-header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 400px;
    height: 60px;
    border-bottom: 1px solid rgb(29, 202, 255);
    margin: 0 auto;
    padding: 0 10px;
    opacity: .80;
    background-color: black;
  }
  .parallax-image-wrapper {
    position:fixed;
    left:0;
    width:100%;
    overflow:hidden;
  }

  .parallax-image-wrapper-50 {
    height:50%;
    top:-50%;
  }

  .parallax-image-wrapper-100 {
    height:100%;
    top:-100%;
  }

  .parallax-image {
    display:none;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
  }

  .parallax-image-50 {
    height:200%;
    top:-50%;
  }

  .parallax-image-100 {
    height:100%;
    top:0;
  }

  .parallax-image.skrollable-between {
    display:block;
  }

  .no-skrollr .parallax-image-wrapper {
    display:none !important;
  }

  #skrollr-body {
    height:100%;
    overflow:visible;
    position:relative;
    background:black;
  }

  .instructions {
    text-align: center;
    padding: 30px 0 51px;
    font-family: "Helvetica Light","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    font-weight: 100;
    font-size: 60px;
    color:white;
  }

  .container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width:100%;
    height:3%;
    background-color: white;
  }


  .footer-links {
    text-align: center;
    padding-bottom: 3rem;
    margin: 0;
    padding: 0;
    font-family: "proxima-nova", arial, sans-serif;
    line-height: 3rem;
    font-size: 1.5em;
  }

  .footer-links ul {
    list-style: none;
    margin-left: -2%;
  }

  .footer-links ul li{
    margin-top: 1%;
    margin-left: 3%;
    display: inline-block;
    padding-right: 1%;
    color: #7B7B7B;
  }

  .footer-links li a:hover {
    cursor: pointer;
  }

  .footer-links li a{
    color: #7B7B7B;
  }

  .centered {
    text-align: center;
    position: absolute;
    margin: 25% 35%;
    z-index: 1;
    left:1%;
  } 

  .homeText {
    text-align: center;
    position: absolute;
    margin: 8% 35%;
    z-index: 1;
/*    margin-right*/
  }

  .logo{
    margin: 0 0 0 3%;
    position: relative;
    z-index: 1;
    opacity: 1.00;
  }

  .logo h1{
    font-family: "Helvetica Light","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    letter-spacing: 0.18rem;
    font-size: 4em;
    cursor: default;
    margin-top: 0%;
    vertical-align: baseline;
    color: rgb(29, 202, 255);
    font-weight:100;
    opacity:2.00;
  }

  .city {
    background-image: url(../app/images/Optimized-city.png);
  }

  .city2 {
    background-image: url(../app/images/map3.jpg);
  }

  .city3 {
    background-image: url(../app/images/Optimized-city3.png);
  }




  #properties {
  width: 100%;
  height: 100%;
  color:red;
  margin-top: -2%;
  text-align: center;
  padding-top: 0%;
  }
  .start-now {
  color: #fff;
  padding: 8rem 0;
  background-color: #d9000b;
  }

  .photo {
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  }



  .homeText h1 {
    text-align: center;
    padding: 0 0 ;
    font-family: "Helvetica Light","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    font-weight: 100;
    font-size: 60px;
    color:white;
  }

  .centered h1 {
    font-family: "Helvetica Light","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    font-size: 2.5em;
    letter-spacing: 0.16rem;
    font-weight: 100;
    color: rgb(255, 132, 13);
    width:140%;
    margin-left: -8%;

  }
  .centered h2 {
    font-family: "Helvetica Light","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    font-size: 2.5em;
    letter-spacing: 0.16rem;
    font-weight: 100;
    color: rgb(29, 202, 255);
    width:140%;
    margin-left: -8%;
  }


  .centered h3 {
    font-family: "Helvetica Light","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    font-size: 2.0em;
    letter-spacing: 0.16rem;
    font-weight: 100;
    color: white;
    width:140%;
    margin-left: -8%;
  }
  #bext {
    margin-left: -8%;
  }

  .button {
    font-weight: 100;
    padding: .5rem 1.5rem;
    border: 4px solid #d9000b;
    transition: color .1s ease-in,background .1s ease-in;
    opacity:1;
    color: #fff;
    font-size: 4rem;
    line-height: 1.428571429;
    cursor: pointer;
    /*text-align: center;*/
  }

  #section3 a:hover {
    text-decoration: none;
    background-color: #d9000b;
    color: white;
  }

  #section3 {
    text-align: center;
  }

  span.glyphicon-search {
    margin-right: -27%;
    margin-top: 1.5%;
  }

  i.glyphicon-align-justify {
    display:inline-block;
    font-size: 1.7em;
    right: 0;
    margin-top: -0.5%;
  }

  .options {
    float: right;
    margin-right: 5%;
    margin-top:0.6%;
  }

  .centered input{
    text-align: center;
    border-color:black;
    border-radius: 25px;
    height: 3.5em;
    width: 140%;
    margin-left: -11%;
  }

  ::-webkit-input-placeholder {
    text-align: center;
  }

  .menu-open-icon {
    cursor:pointer;
    /*color:#fff;*/
    padding:20px 30px;
     /*padding:20px 25px;*/
     position:fixed;
  }

  .menu-close-icon {
    padding:26px 96px;
    /*padding:20px 100px;*/
    cursor: pointer;
    font-size:25px;
  }


  #side-menu {
    height:30%;
    position:fixed;
    right: -150px;
    background-color:black;
    color:#fff;
    z-index:999;
    overflow:auto;
    max-width:150px;
    opacity:0.4;

  }
  #side-menu ul {
  list-style:none;
  padding:0px;
  }

  #side-menu ul li {
  border-bottom:1px solid rgba(95, 87, 88, 0.2);
  padding: 26px 37px;
  display:inline-block;
  }

  #side-menu ul li a i {
  padding-right:10px;
  }

  #side-menu ul li a,#side-menu ul li a:hover {
  color:#fff;
  text-decoration:none;
  font-size: 16px;
  }
            
  .p-set {
    padding-top:120px;
     line-height:30px;
     color:#fff;
     font-size:16px;
  }

  .hr-set {
    border-top:1px solid rgba(0, 0, 0, 0)!important;
    margin-bottom:20px;
  }

  .hr-set-two {
    margin-top: -6px;
    border-top:1px solid rgba(0, 0, 0, 0.05)!important;
    margin-bottom:5px;
  } 


#header-buttons {
  float: right;
  margin: 0 3% 0 0
}

/*.rows {
  height: 100%;
  width: 90%;
}*/

/*.rows {
  height: 100%;
  width: 88%;
  margin-right:auto;
  margin-left:auto;
}*/
.rows h2 {
  font-family: "Helvetica Light","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 2.5em;
  letter-spacing: 0.16rem;
  font-weight: 100;
  color: rgb(29, 202, 255);
}

.rows h3 {

    font-family: "Helvetica Light","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    font-size: 2.0em;
    letter-spacing: 0.16rem;
    font-weight: 100;
    color: white;
    padding-bottom: 50px;
    padding-right: 50px;

}
#inv-nav {
  height:10%;
  width: 100%;
}

.map-button {
    text-align: center;
    position: absolute;
    margin: 25% 45%;
    z-index: 1;
    left:1%;
}

#section2 {
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;

}

.rows img {
  margin-left: 100px;
  top: 100px;
/*  z-index:1000;*/

}

.screen {
  margin-top: -525px;
  margin-left: 20px;
}

.screen img {
  width: 260px;
  height: 460px;
}

.section3 {
  background-color: rgb(29, 202, 255);
}
#section2 {
  height: 2000px;
}


/*  .byLine {
    position: absolute;
    top: 63%;
    left: 10%;
    color:white;
    max-width: 22%;
  }*/

/*#domExplosionList {
  position: absolute;
  width: 270px;
  top: 100%;
  right: 15%;
  opacity: 0;
}
.dom-explosion-item {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #fff;
}
.dei-1 { top: 0; left: 0; }
.dei-2 { top: 0; left: 70px; }
.dei-3 { top: 0; left: 140px; }
.dei-4 { top: 0; left: 210px; }
.dei-5 { top: 70px; left: 0; }
.dei-6 { top: 70px; left: 70px; }
.dei-7 { top: 70px; left: 140px; }
.dei-8 { top: 70px; left: 210px; }
.dei-9 { top: 140px; left: 0; }
.dei-10 { top: 140px; left: 70px; }
.dei-11 { top: 140px; left: 140px; }
.dei-12 { top: 140px; left: 210px; }
.dei-13 { top: 210px; left: 0; }
.dei-14 { top: 210px; left: 70px; }
.dei-15 { top: 210px; left: 140px; }
.dei-16 { top: 210px; left: 210px; }*/
